body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:rgb(255, 255, 255);
  color: rgb(90, 168, 18);
  overflow-x: hidden;
}


header {
  background-color: #333;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  color: rgb(197, 138, 12);
  width: 300px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  min-width: 175px;
}
header nav a:hover {
  text-decoration: underline;
  color: rgb(210, 222, 44);
}
.container {
  margin-top: 95px;
  text-align: center;
}
.diyProjects {
  height: 320px;
  width: 100%;
  display: flex;
  column-gap: 5px;
  padding: 15px;
  background-color: rgb(255, 238, 238);
  
}
.imageView img{
  width: 80%;
  height: 200px;
  border-radius: 0px;
}


.offer a{
  background: #722f1d;
  display: inline-block;
  padding: 20px 30px;
  font-weight: bold;
  margin: 20px 0;
  color: antiquewhite;
  text-decoration: none;
}
.offer a:hover{
  background-color: green;
}

/* Animations */
.fade-in {
  animation: fadeIn 2s ease-in;
}

.slide-in {
  animation: slideIn 1s ease-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  0% { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.info {
  text-align: center
}



.list {
  color: rgb(68, 151, 0);
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.list:hover, .infoPar:hover {
  color: rgb(67, 77, 77);
}
.infoHeader {
  color: rgb(21, 112, 3);
  padding-left: 200px;
  font-size: 30px;
}
.topPanel {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.viewProject {
  align-items: center;
  justify-content: center;
  vertical-align: top;
  text-decoration: none;
  color: rgb(23, 137, 56);
}
.lineMiddle {
  color: rgb(0, 145, 2);
  padding-left: 25px;
}
